<%- include('partials/header') %>

<div class="hero">
    <h1>Learn How to Do Anything</h1>
    <p>Step-by-step tutorials to help you learn new skills and solve everyday problems.</p>
    <p>by the way, the flag is in /flag in port 6971</p>
    <p>also, there is a /report endpoint to report for broken links. an Admin will then visit your given link</p>
</div>

<div class="tutorial-grid">
    <div class="tutorial-card">
        <h3><a href="/setup-an-attack-server">How to Setup an Attack Server</a></h3>
        <p>Learn the art of setting up an attack server. From selecting the right tunneling services to creating web server.</p>
        <p><strong>Steps:</strong> 6 | <strong>Time:</strong> 5 minutes</p>
    </div>
    
    <div class="tutorial-card">
        <h3><a href="/how-to-create-a-revshell">How to Create a Reverse Shell</a></h3>
        <p>Understand the technique to create reverse shell. Connect your revshell from anywhere.</p>
        <p><strong>Steps:</strong> 5 | <strong>Time:</strong> 3 minutes</p>
    </div>
</div>

<%- include('partials/footer') %>